%div{ 'data-role' => 'header'}
  %a{href: '#back', 
    'data-rel' => :back, 
    class: 'ui-btn-left', 
    :'data-icon' => 'back'} Back
  %h1 MusicStand v#{MusicStand::Version}
  %a{href: '/', class: 'ui-btn-right', :'data-icon' => 'home', 'data-theme' => 'e'} Home
